@using DecisionServicePrivateWeb.Models
@model SimulationViewModel
@{
    ViewBag.Title = "API Test Drive";
}

<div class="section" style="width:100%;">
    <p align="center" class="lead">
        Test Drive
    </p>
    <p align="center" style="font-weight:100; margin-bottom:20px">
        Choose desired feedback given the context and chosen action to observe what the learned policy does
    </p>
</div>

<div class="input-group" style="margin: 0 auto; width:300px; visibility:collapse;">
    <div class="input-group-addon" style="color:black">Authorization token: </div>
    <input type="text" class="form-control" id="userToken" placeholder="Web service token" value="@Model.WebServiceToken">
    <input type="text" class="form-control" id="trainerToken" placeholder="Trainer token" value="@Model.TrainerToken">
</div>

<input id="password" type="text" hidden="hidden" value="@Model.Password" />
<input id="trainArguments" type="text" hidden="hidden" value="@Model.TrainerArguments" />

<div class="row">
    <div class="col-md-6" style="border-right:1px solid; margin:0 auto">
        <div class="row" style="text-align: center;">
            <div class="col-md-6">
                <div class="section" style="width:100%; margin-bottom:14px">
                    <p align="center" style="font-size:20px">
                        Context
                    </p>
                    <p align="center" style="font-weight:100">
                        Available information/features (e.g. user location)
                    </p>
                    <div class="input-group" style="margin: 0 auto; width:250px; ">
                        <div class="input-group-addon" style="color:black">Number of features: </div>
                        @Html.DropDownList("context-richness",
                        new SelectListItem[] {
                            new SelectListItem { Text = "1", Value = "1", Selected = true },
                            new SelectListItem { Text = "2", Value = "2" },
                            new SelectListItem { Text = "3", Value = "3" },
                            new SelectListItem { Text = "4", Value = "4" },
                        },
                        new { @id = "context-richness", @class = "form-control", @style = "display:inline" })
                    </div>
                        
                </div>
                <div class="thumbnail content-item" id="article1">
                    <div class="caption" style="padding-bottom:0px">
                        <u><p style="margin-bottom: 10px; margin-top: 0px;" id="userContext-name"></p></u>
                        <p style="margin-bottom: 10px; margin-top: 0px;" id="userContext-age"></p>
                        <p style="margin-bottom: 10px; margin-top: 0px; display: none;" id="userContext-gender"></p>
                        <p style="margin-bottom: 10px; margin-top: 0px; display: none;" id="userContext-location"></p>
                        <p style="margin-bottom: 10px; margin-top: 0px; display: none;" id="userContext-industry"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="section" style="width:100%;">
                    <p align="center" style="font-size:20px">
                        Action
                    </p>
                    <p align="center" style="font-weight:100">
                        Chosen by the Decision Service based on the context
                    </p>
                </div>
                <div class="thumbnail content-item" id="article2" style="width:260px">
                    <div class="caption" style="padding-bottom:0px">
                        <p style="margin-bottom: 10px; margin-top: 0px;" id="articleText">What counts as artificially intelligent? AI explained</p>
                        <div style="width: 230px; height: 200px; overflow:hidden">
                            <img style="width: 260.7px; height: 200px; margin-left:-10px"
                                    id="article"
                                    src="https://upload.wikimedia.org/wikipedia/commons/2/28/Artificial-intelligence-elon-musk-hawking.jpg"
                                    alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-xs-6" style="text-align: right;">
                <a id="thumbUp" class="thumb" style="font-family:'Segoe UI'; font-size:120px; text-decoration:none">&#x1F44D</a> &nbsp;
                <br /><p style="padding-right:20px">(or press '1')</p>
            </div>
            <div class="col-xs-6" style="text-align: left;">
                <a id="thumbDown" class="thumb" style="font-family:'Segoe UI'; font-size:120px; text-decoration:none">&#x1F44E</a> &nbsp;
                <br /><p>(or press '0')</p>
            </div>
        </div>

        <br />
        <div style="text-align:center;">
            <div style="margin-bottom:15px; font-size:16px" id="statusReward"></div>
            <div style="margin-bottom:15px; font-size:16px" id="statusTrainer">Please wait as trainer has not started yet.</div>
            <div style="margin-bottom:15px; font-size:16px" id="statusModel">Model is not ready, the trainer takes 2 - 10 minutes to start on a fresh deployment.</div>
            <div style="margin-bottom:15px; font-size:16px" id="status"></div>
            <button id="resetModelBtn" class="btn btn-primary btn-group-sm" style="margin-bottom:15px">Reset Model</button>
            <div style="margin-bottom:15px" id="statusReset"></div>
        </div>
    </div>

    <!-- Right pane -->
    <div class="col-md-6">
        <div class="row">
            <div class="input-group" style="margin: 0 auto; width:300px">
                <div class="input-group-addon" style="color:black">Window size: </div>

                <div class="col-sm-10" style="padding-left:0px">
                    @Html.DropDownList("eval-window-filter",
                        Model.EvaluationView.WindowFilters.Select(m => new SelectListItem
                        {
                            Value = m,
                            Text = m,
                            Selected = (m == Model.EvaluationView.SelectedFilter)
                        }),
                        new { @id = "eval-window-filter", @class = "form-control", @style = "display:inline" })
                </div>
            </div>
            <div class="input-group" style="margin: 0 auto;">
                <div style="margin-top: 10px;">Each data point is computed over a  
                    <a href="https://msdn.microsoft.com/en-us/library/azure/dn835041.aspx" target="_blank">hopping window</a> of size
                    <label id="window-size" style="font-weight: normal;">6d</label>.
                </div>
            </div>
        </div>
        <label for="eval-window-filter" id="eval-chart-status" style="width: 100%; text-align: center; margin-top: 10px; font-weight: normal;"></label>
        <br /><br />
        <div class="thumbnail" style="text-align:center; width:650px; margin: 0 auto">
            <div class="caption article">
                <div id="chart-api">
                    <svg style="height: 500px;"></svg>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css">
}

@section scripts {
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/eval.js"></script>
    <script type="text/javascript" src="~/Scripts/api-test-drive.js"></script>
}